/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*#Devise forms*/
.devise-container {
  margin-top: 5%;
  margin-bottom: 5%;
}

.devise-form-1 {
  padding: 3%;
  background: #ddaa68e6;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.devise-form-1 h3 {
  text-align: center;
  color: #fff;
}

.btnSubmit {
  font-weight: 600;
  width: 50%;
  color: #282726;
  background-color: #fff;
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
}

.btnForgetPwd {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}

.btnForgetPwd:hover {
  text-decoration: none;
  color: #fff;
}

/*#Devise forms*/
.break-text p {
  word-wrap: break-word;
}

body {
  background-image: url(/images/book-shelves-book-stack-bookcase-207662.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #999;
}



.select-css {
  display: block;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: .6em 1.4em .5em .8em;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  border-radius: .5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
  linear-gradient(to bottom, #ffad188c 0%, #a96630c2 100%);
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
}
.select-css::-ms-expand {
  display: none;
}
.select-css:hover {
  border-color: #888;
}
.select-css:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}
.select-css option {
  font-weight:normal;
}

.form-control-custom-button{
  font-size: 16px;
  color: #2b1818;
  background-color: #5a3113cc;
  border: 0px solid #ccc;
  border-radius: 10px;
}



///* Custom Select */
//.select-st {
//  position: relative;
//
//  height: 3em;
//  line-height: 3;
//  background: #caa474;
//  overflow: hidden;
//  border-radius: .25em;
//
//
//  display: block;
//  line-height: 1.3;
//  padding: .6em 1.4em .5em .8em;
//  width: 100%;
//  max-width: 100%;
//  box-sizing: border-box;
//  margin: 0;
//  -moz-appearance: none;
//  -webkit-appearance: none;
//  appearance: none;
//  background-position: right .7em top 50%, 0 0;
//  background-size: .65em auto, 100%;
//}
///* Reset Select */
//.select-st select{
//  -webkit-appearance: none;
//  -moz-appearance: none;
//  -ms-appearance: none;
//  appearance: none;
//  outline: 0;
//  box-shadow: none;
//  border: 0 !important;
//  background: #caa474;
//  background-image: none;
//}
///* Remove IE arrow */
//.select-st select::-ms-expand {
//  display: none;
//}
//
//.select-st select {
//  flex: 1;
//  padding: 0 .5em;
//  color: #fff;
//  cursor: pointer;
//}
///* Arrow */
//.select-st::after {
//  content: '\25BC';
//  position: absolute;
//  top: 0;
//  right: 0;
//  padding: 0 1em;
//  height: 100%;
//  background: #8c6f4b;
//  cursor: pointer;
//  pointer-events: none;
//  -webkit-transition: .25s all ease;
//  -o-transition: .25s all ease;
//  transition: .25s all ease;
//}
///* Transition */
//.select-st:hover::after {
//  color: #f39c12;
//}
