body {
  background-image: url('book-shelves-book-stack-bookcase-207662.jpg') ;
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
  background-color: #999;

}